# OS
.DS_Store

# ENV
.env
.env.*

# Logs
*.log

# Node
node_modules/
dist/
build/
.vite/
coverage/

# Java / Spring
target/
*.class

# Binaries / Downloads
*.tar.gz
*.zip
node-v*
apache-maven*

# Docker
docker-compose.override.yml

# IDE
.vscode/
.idea/

# Blockchain / Hardhat
artifacts/
cache/
typechain/